<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="collapse navbar-collapse">
    <a
      class="navbar-brand"
      routerLink=""
    >
      <img height="40px" src="/assets/logo.png">
    </a>

    <ul class="nav nav-pills navbar-nav mr-auto mt-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active curent"
          routerLink="/Home"
        >Home</a>
      </li>

      <li class="nav-item active">
        <a
          class="nav-link"
          routerLinkActive="active curent"
          routerLink="/Links"
        >Links</a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active curent"
          routerLink="/About"
        >About</a>
      </li>

      <li
        ngbDropdown="ngbDropdown"
        class="nav-item"
      >
        <a
          class="nav-link"
          ngbDropdownToggle="ngbDropdownToggle"
          id="dropdown03"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >User Name</a>

        <div
          ngbDropdownMenu="ngbDropdownMenu"
          aria-labelledby="dropdown03"
        >
          <a
            class="dropdown-item"
            routerLinkActive="active curent"
            routerLink="#"
          >Shopping Cart</a>

          <a
            class="dropdown-item"
            routerLinkActive="active curent"
            routerLink="#"
          >Manage My Order</a>

          <a
            class="dropdown-item"
            routerLinkActive="active curent"
            routerLink="#"
          >Manage Order</a>
          <a
            class="dropdown-item"
            routerLinkActive="active curent"
            routerLink="#"
          >Manage Item</a>
          <a
            class="dropdown-item"
            routerLinkActive="active curent"
            routerLink="/Logins"
          >Log In</a>
          <a
            class="dropdown-item"
            routerLinkActive="active curent"
            routerLink="#"
          >Log Out</a>
        </div>
      </li>
    </ul>

    <div class="ml-auto mt-auto">
      <form class="form-inline my-2 my-md-0">
        <input
          class="form-control"
          type="text"
          placeholder="Search"
          id="serch"
          style="margin-top: 20px;"
        />
      </form>
    </div>
  </div>
</nav>